<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Castle.Aop.LinFu" version="1.2.0.2" targetFramework="net45" />
  <package id="Castle.Core" version="3.0.0.4001" targetFramework="net45" />
  <package id="CommonServiceLocator" version="1.2" targetFramework="net45" />
  <package id="LinFu.Core" version="2.3.0.41559" targetFramework="net45" />
  <package id="Windows7APICodePack" version="1.0.0.0" targetFramework="net40" />
</packages>