<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings>
      <add key="Provider" value="Microsoft.ACE.OLEDB.15.0"/>
      <add key="DataSource" value="database\puppy.accdb"/>
      <add key="ServiceAddress" value="http://localhost:8733/WcfServiceFileSystemWatcher/Watcher/"/>
      <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true"/>
  </appSettings>
  <system.web>
    <compilation debug="true"/>
  </system.web>
  <!-- 部署服务库项目时，必须将配置文件的内容添加到 
  主机的 app.config 文件中。System.Configuration 不支持库的配置文件。-->
  <system.serviceModel>
    
    <client>
      <endpoint address="http://localhost:8733/WcfServiceFileSystemWatcher/Watcher/"
        binding="basicHttpBinding" bindingConfiguration="LargeSize"
        name="BasicHttpBinding_IWatcher" />
    </client>
    <services>
      <service name="WcfServiceFileSystemWatcher.Watcher">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="LargeSize"
          name="BasicHttpBinding_IWatcher" contract="WcfServiceFileSystemWatcher.IWatcher">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" name="BasicHttpBinding_IWatcher"
          contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8733/WcfServiceFileSystemWatcher/Watcher/" />
          </baseAddresses>
          <timeouts openTimeout="10:00:00" />
        </host>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <basicHttpBinding>
        <binding name="LargeSize" closeTimeout="10:01:00" openTimeout="10:01:00"
          receiveTimeout="10:10:00" sendTimeout="10:01:00" maxBufferPoolSize="21474836471"
          maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" />
      </basicHttpBinding>
    </bindings>
  </system.serviceModel>

<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/></startup></configuration>
